# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
metaforge-test-env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# OS-specific
.DS_Store
Thumbs.db

# Python & Jupyter logs
*.log

# Local secrets
.env
.env.local

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
